:root {
  --black: #181819;
  --bg-dim: #222327;
  --bg0: #2C2E34;
  --bg1: #33353F;
  --bg2: #363944;
  --bg3: #3B3E48;
  --bg4: #414550;
  --gray-dim: #595F6F;
  --red: #FC5D7C;
  --orange: #F39660;
  --yellow: #E7C664;
  --green: #9ED072;
  --blue: #76CCE0;
  --purple: #B39DF3;
  --fg: #E2E2E3;
  --gray: #7F8490;
  --bg-red: #FF6077;
  --diff-red: #55393D;
  --diff-green: #394634;
  --bg-green: #A7DF78;
  --bg-blue: #85D3F2;
  --diff-blue: #354157;
  --diff-yellow: #4E432F;

  /* Main theme variables */
  --bg: var(--bg-dim);
  --bg-alt: var(--bg1);
  --fg-alt: var(--gray);
  --accent: var(--diff-blue);

  --content-primary: var(--fg);
  --content-secondary: var(--gray);
  --background: var(--bg);
  --code-background: var(--bg2);
  --code-border: var(--bg2);
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
  --black: #f8f8f8;
  --bg-dim: #f4f4f6;
  --bg0: #ffffff;
  --bg1: #f0f0f2;
  --bg2: #e9e9ec;
  --bg3: #e2e2e6;
  --bg4: #dadade;
  --gray-dim: #b0b4c0;
  --red: #FC5D7C;
  --orange: #f39660;
  --yellow: #E7C664;
  --green: #9ED072;
  --blue: #76CCE0;
  --purple: #B39DF3;
  --fg: #2C2E34;
  --gray: #595f6f;
  --bg-red: #ff6077;
  --diff-red: #FC5D7C;
  --diff-green: #9ED072;
  --bg-green: #a7df78;
  --bg-blue: #bbdefb;
  --diff-blue: #85D3F2;
  --diff-yellow: #fffde7;

  --bg: var(--bg-dim);
  --bg-alt: var(--bg1);
  --fg-alt: var(--gray);
  --accent: var(--diff-blue);
  
  --content-primary: var(--fg);
  --content-secondary: var(--gray);
  --background: var(--bg);
  --code-background: var(--fg);
  --code-border: var(--fg);
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  transition: background .3s ease, color .3s ease;
}

a {
  border-bottom: 2px solid var(--accent);
  text-decoration: none;
  transition: border-bottom .3s ease, background .3s ease, color .3s ease;
}
a:hover {
  border-bottom-color: var(--accent);
  background-color: var(--accent);
  color: var(--fg);
}
