@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Italic-VariableFont_wght') format('truetype');
    font-weight: 290 580;
    font-style: italic;
    font-display: swap;
}
/* @font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-Light.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-LightItalic.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
} */

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

