{{/* Header */}}

<div class="header">
  {{ if or (not (.Param "hideHeader")) .IsHome }}

    <div style="display: flex; align-items: center; gap: 1rem;">
      <h1 class="header-title" style="margin: 0;">
        <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
      </h1>
    <spacer style="flex-grow: 1;"></spacer>
      <div id="themeSwitcher" class="theme-switcher">
      <button id="themeToggle" class="theme-button theme-switcher" aria-label="Toggle theme">
        <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        >
          <path
            class="moon" pathLength="1"
            d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
          />
          <circle class="sun" pathLength="1" cx="12" cy="12" r="5" />
          <line class="sun" pathLength="1" x1="12" y1="1" x2="12" y2="3" />
          <line class="sun" pathLength="1" x1="12" y1="21" x2="12" y2="23" />
          <line class="sun" pathLength="1" x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
          <line class="sun" pathLength="1" x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
          <line class="sun" pathLength="1" x1="1" y1="12" x2="3" y2="12" />
          <line class="sun" pathLength="1" x1="21" y1="12" x2="23" y2="12" />
          <line class="sun" pathLength="1" x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
          <line class="sun" pathLength="1" x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
        </svg>
      </button>
      </div>
    </div>


    <div class="header-menu" style="display: flex; justify-content: space-between; align-items: center; gap: 1rem;">

      <!-- Left menu (site.Params.menu) -->
      <div style="display: flex; gap: .1rem;">
        {{ $currentPage := . }}
        {{ with site.Params.menu }}
          {{ range . }}
            <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
              <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                /{{.name }}
              </a>
            </p>
          {{ end }}
        {{ end }}
      </div>

      <!-- Right menu (site.Params.about) -->
      <div style="display: flex; gap: .1rem; margin-right: auto;">
        {{ with site.Params.about }}
          {{ range . }}
            <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
              <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                /{{.name }}
              </a>
            </p>
          {{ end }}
        {{ end }}
      </div>

    </div>

  {{ end }}
</div>
