{{/* Header */}}

<div class="header">
  {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
      <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
    </h1>

    <div class="header-menu" style="display: flex; justify-content: space-between; align-items: center; gap: 1rem;">

      <!-- Left menu (site.Params.menu) -->
      <div style="display: flex; gap: .1rem;">
        {{ $currentPage := . }}
        {{ with site.Params.menu }}
          {{ range . }}
            <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
              <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                /{{.name }}
              </a>
            </p>
          {{ end }}
        {{ end }}
      </div>

      <!-- Right menu (site.Params.about) -->
      <div style="display: flex; gap: .1rem; margin-right: auto;">
        {{ with site.Params.about }}
          {{ range . }}
            <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
              <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                /{{.name }}
              </a>
            </p>
          {{ end }}
        {{ end }}
      </div>

    </div>

  {{ end }}
</div>
