<link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css">
  
<script defer 
  src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js"></script>

<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false }
      ],
      throwOnError: false,
      macros: {
        "\\N": "\\mathbb{N}",
        "\\Z": "\\mathbb{Z}",
        "\\Q": "\\mathbb{Q}",
        "\\R": "\\mathbb{R}",
        "\\C": "\\mathbb{C}",
        "\\F": "\\mathbb{F}",
        "\\epsilon": "\\varepsilon",
        "\\implies": "\\Rightarrow",
        "\\impliedby": "\\Leftarrow",
        "\\iff": "\\Leftrightarrow",
      }
    });
  });

  // load when #annotation__footnote-box.show 
  const style = document.createElement('style');
  style.innerHTML = `
    .katex {
      font-size: 1em !important;
    }
  `;
  document.head.appendChild(style);

  const box = document.getElementById('annotation__footnote-box');
  if (box) {
    const observer = new MutationObserver((mutationsList) => {
      for (const mutation of mutationsList) {
        if (
          mutation.type === 'attributes' &&
          mutation.attributeName === 'class' &&
          box.classList.contains('show')
        ) {
          renderMathInElement(box, {
            delimiters: [
              { left: "$$", right: "$$", display: true },
              { left: "$", right: "$", display: false }
            ],
            throwOnError: false,
            macros: {
              "\\N": "\\mathbb{N}",
              "\\Z": "\\mathbb{Z}",
              "\\Q": "\\mathbb{Q}",
              "\\R": "\\mathbb{R}",
              "\\C": "\\mathbb{C}",
              "\\F": "\\mathbb{F}",
              "\\epsilon": "\\varepsilon",
              "\\implies": "\\Rightarrow",
              "\\impliedby": "\\Leftarrow",
              "\\iff": "\\Leftrightarrow",
            }
          });
        }
      }
    });
    observer.observe(box, { attributes: true });
  }
</script>