{{ define "main" }}

<div class="not-found">

    <div id="falling-404" style="display:inline-block; cursor:pointer; transition: transform 2s cubic-bezier(.68,-0.55,.27,1.55);">
        <h1>404</h1>
        <script>
        var hasFallen = false;
        document.getElementById('falling-404').onclick = function() {
            if (hasFallen) {this.style.transform = 'none'; hasFallen = false; return;}
            const randX = Math.floor(Math.random() * 20) - 10; 
            const randY = 200 + Math.floor(Math.random() * 100); 
            const randRot = 90 + Math.floor(Math.random() * 70);
            const sign = Math.random() < 0.5 ? -1 : 1;
            this.style.transform = `translateX(${randX}px) translateY(${randY}px) rotate(${sign * randRot}deg)`;
            hasFallen = true;
        };
        </script>
        <h2> Here's a <a href="/">🗺️</a> to return home </h2>
    </div>
    
</div>

{{ end }}
